@media(max-width: 820px){
    .first-content{
        gap: 80px;
    }

    .fc-text{
        max-width: 250px;
        gap: 40px;
    }

    .tools{
        align-items: center;
        padding: 30px 40px;
    }

   .footer .nav .links{
        align-items: center;
        margin: 10px;
   }


}

@media(max-width: 540px){
    .first-content{
        flex-direction: column;
        margin: 12px;
        text-align: center;
        padding-bottom: 100px;
    }

    .first-content img{
        max-width: 100%;
    }

    .fc-text{
        text-align: center;
        gap: 50px;
        max-width: 300px;
    }

    .fc-text h3{
        font-size: 25px;
    }

    .fc-text p{
        font-size: 18px;
    }

    .footer .nav .links .faqs{
     margin: 0;
    }
}

@media(max-width: 425px){
    .header{
        background: url('../images/bg-header-mobile.png') center center no-repeat;
        background-size: cover;
    }

    .header-content .title-header{
        font-size: 32px;
    }

    .title-header, .title-snippets, .d-title, .sc-title{
        margin: 25px;
    }

    .text-header, .text-snippets, .sc-text, .d-text{
        margin: 15px 20px;
        line-height: 30px;
        text-align: center;
    }

    .btn-header{
        display: flex;
        flex-direction: column;
    }

    .d-ios, .d-mac{
        padding: 15px 62px;
    }

    .tools{
        flex-direction: column;
        padding: 40px 40px;
    }

    .icons{
        flex-direction: column;
        gap: 80px;
    }

    .icons img{
        max-width: 70%;
    }

    .d-btn{
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
        gap: 40px;
    }

    .footer img{
        width: 15%;
    }

    .footer .links{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer .links .infos, .footer .links .contact{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}